@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700')
@import url('https://fonts.googleapis.com/css?family=Lato:400,700')
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro')

$main_color: #8d81ac
$mainDark_color: #635c73
$regText_color: #848e97

$main_font: 'Montserrat', sans-serif
$second_font: 'Lato', sans-serif
$sourSanP_font: 'Source Sans Pro', sans-serif

// ==========================

body
	overflow-x: hidden


p
	color: $regText_color
	font-family: $main_font
	font-size: 13px
	font-weight: 400
	line-height: 21px

a:hover
	text-decoration: none

.container
	height: 100%
.row
	width: 100%

.my-btn
	color: #ffffff
	background: $main_color
	border-radius: 40px
	border: none
	cursor: pointer
	transition: 0.3s

	font-family: $main_font

	&:hover
		background: $mainDark_color
		color: #ffffff

// for buttons folowers
#folowers-items
	a
		font-family: $main_font
		font-weight: 400
		line-height: 32px

	#btn-git
		color: #000000
		background-color: #f3f3f3
	#btn-twit
		color: #ffffff
		background-color: #26a6d1
	#btn-face
		color: #ffffff
		background-color: #3b5998

	span
		color: $mainDark_color
		font-family: $main_font
		font-weight: 400
		line-height: 32px

header
	height: 106px

	.nav-link
		color: $mainDark_color
		font-family: $main_font
		font-size: 16px
		font-weight: 700
		line-height: 15px
		transition: 0.3s

		&:hover
			color: $main_color

#top_sect
	background: url(../img/baner-bg.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-position: center center 

	.container
		position: relative

		& div:nth-child(1)
			h1
				color: #ffffff
				font-family: $main_font
				font-weight: 700

			h4
				color: $main_color
				font-family: $second_font
				font-weight: 400

			span
				color: $regText_color
				font-family: $main_font
				font-weight: 400
				text-transform: uppercase
			
		& div:nth-child(2)
			position: absolute

			span
				color: $regText_color
				font-family: $main_font
				font-weight: 400
				line-height: 15px

#revolutionary_sect
	h2
		color: $mainDark_color
		font-family: $main_font
		font-weight: 700
		line-height: 20.45px
		text-transform: uppercase

	p
		opacity: 0.8
		color: #323232
		font-weight: 400
		line-height: 32px
		font-family: $sourSanP_font
		text-align: center

#whatyouget_sect
	background-color: #f4f4f4

	h3
		color: $main_color
		font-family: $main_font
		font-weight: 700
		line-height: 20.45px

	.whatyouget_item
		h6
			color: #323232
			font-family: $main_font
			font-weight: 400
			line-height: 21px

#testm_sect
	.carousel
		.carousel-inner,
		.carousel-item 
			height: 100%

		span
			color: $mainDark_color
			font-family: $main_font
			font-weight: 400
			line-height: 32px

	.tstm-name
		color: $mainDark_color
		font-family: $main_font
		font-weight: 700
		line-height: 32px
	.tstm-nick
		color: $main_color
		font-family: $main_font
		font-weight: 400
		line-height: 32px
	.text-center 
		color: #333333
		font-family: $sourSanP_font
		font-weight: 400
		line-height: 32px

		span
			color: $main_color

#talkingAbout_sect
	background: url(../img/talkingAbout-bg.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-position: center center

	h4
		color: #ffffff
		font-family: $main_font
		font-weight: 700
		line-height: 20.45px

#subscriptionPricing_sect
	background: url(../img/subscriptionPricing-bg.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-position: center center


// ===========min-width: 320px=============
@media(min-width: 320px)
	.container
		max-width: 450px
	.my-btn
		width: 150px
		height: 48px

		font-size: 17px
		font-weight: 700
		line-height: 15px

	#top_sect
		height: 760px

// ====END====min-width: 320px=============


// ===========min-width: 992px=============
@media(min-width: 992px)
	.container
		max-width: 1170px
	.my-btn
		width: 145px
		height: 38px

		font-size: 21px
		font-weight: 700
		line-height: 20.45px

	#top_sect
		height: 800px

		.container
			padding-top: 108px

			& div:nth-child(1)
				height: 154px

				h1
					font-size: 82px
					line-height: 20.45px
					margin-bottom: 40px

				h4
					font-size: 30px
					line-height: 20.45px

				span
					font-size: 16px
					line-height: 20.45px

			& div:nth-child(2)
				height: 96px
				bottom: -64px

				.my-btn
					width: 390px
					height: 62px

				span
					font-size: 14px

	#revolutionary_sect
		height: 392px

		.container
			.row
				height: 170px
		h2
			font-size: 54px

		p
			font-size: 21px

		img
			width: auto
			height: 26px
			
	#whatyouget_sect
		padding-top: 84px
		padding-bottom: 70px
		
		.container
			.row
				position: relative

			.whatyouget_item
				margin-bottom: 20px

				h6
					font-size: 16px

			#img-bott
				position: absolute
				left: 50%
				top: 50px

				img
					width: 1140px
					height: 580px

			h3
				width: 100%
				position: absolute
				left: calc(50% + 30px)
				top: -2px
				font-size: 48px

	#testm_sect
		height: 590px

		.carousel
			height: 286px
			span
				font-size: 16px
		.text-center
			font-size: 20px
			padding-top: 42px
			padding-bottom: 8px
		.tstm-name
			font-size: 24px
			margin-bottom: 0
		.tstm-nick
			font-size: 16px
			margin-bottom: 0
		#folowers
			hr
				height: 1px
				background-color: #c7c7c7
				opacity: 0.2
		#folowers-items
			width: 800px

			a
				width: 240px
				height: 50px
				transition: 0.3s
				border-radius: 5px

				margin-top: 60px		
				margin-bottom: 18px

				font-size: 21px

			span
				font-size: 14px

	#talkingAbout_sect
		height: 764px
		padding-top: 98px

		h4
			font-size: 48px



	#subscriptionPricing_sect
		height: 900px

// ====END====min-width: 992px=============		


